<!DOCTYPE html>
<html lang="en" style="font-family: monospace;"><head><title>[3ccf97cb1d] discord preview preserves newlines for some reason | pytaku | Boast</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"></head><body><strong><a href="../../">Repos</a> / <a href="../">pytaku</a> / 3ccf97cb1d</strong><hr><pre>commit 3ccf97cb1d40d5b8b170d2684e9d1e01d290b771
Author: Bùi Thành Nhân &lt;hi@imnhan.com&gt;
Date:   Tue Aug 11 21:23:51 2020 +0700

    discord preview preserves newlines for some reason

diff --git a/pyproject.toml b/pyproject.toml
index 075389a..ab605ef 100644
--- a/pyproject.toml
+++ b/pyproject.toml
@@ -1,6 +1,6 @@
 [tool.poetry]
 name = &quot;pytaku&quot;
-version = &quot;0.2.18&quot;
+version = &quot;0.2.19&quot;
 description = &quot;&quot;
 authors = [&quot;Bùi Thành Nhân &lt;hi@imnhan.com&gt;&quot;]
 license = &quot;AGPL-3.0-only&quot;
diff --git a/src/pytaku/templates/chapter.html b/src/pytaku/templates/chapter.html
index 1b6e0eb..ffebe6f 100644
--- a/src/pytaku/templates/chapter.html
+++ b/src/pytaku/templates/chapter.html
@@ -1,8 +1,7 @@
 {% extends &#39;base.html&#39; %}
 
 {% block title %}
-Chapter {{ num_major }}{% if num_minor %}.{{ num_minor }}{% endif %}
-{% if name %} - {{ name }}{% endif %}
+Chapter {{ num_major }}{% if num_minor %}.{{ num_minor }}{% endif %}{% if name %} - {{ name }}{% endif %}
 {% endblock %}
 
 {% block head %}
</pre></body></html>