<!DOCTYPE html>
<html lang="en" style="font-family: monospace;"><head><title>[382a4a1a1e] style update | hi.imnhan.com | Boast</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"></head><body><strong><a href="../../">Repos</a> / <a href="../">hi.imnhan.com</a> / 382a4a1a1e</strong><hr><pre>commit 382a4a1a1e97bedca63a06123b91e60477c39e18
Author: Nhân &lt;hi@imnhan.com&gt;
Date:   Wed Aug 30 18:56:06 2023 +0700

    style update
    
    - black links, yellow highlight on hover
    - new-tab indicator used on CV link
    - narrower body width
    - text instead of img label for atom link
    
    Not sure if I should use a webfont.

diff --git a/_s4g/settings.txt b/_s4g/settings.txt
index 5a742ec..a95d190 100644
--- a/_s4g/settings.txt
+++ b/_s4g/settings.txt
@@ -4,7 +4,7 @@ Tagline: and this is my humble corner on the intertubes
 Root: /
 ShowFooter: true
 FooterText: Made with &lt;a href=&quot;https://github.com/nhanb/s4g&quot;&gt;s4g&lt;/a&gt; and probably too much &lt;a href=&quot;https://www.instagram.com/cheese.coffee/&quot;&gt;cà phê sữa đá&lt;/a&gt;
-NavbarLinks: index.dj, about/index.dj, projects/index.dj, #CV#https://cv.imnhan.com
+NavbarLinks: index.dj, about/index.dj, projects/index.dj, #CV🡕#https://cv.imnhan.com
 DefaultThumb: about/keyboard-warrior.jpg
 
 AuthorName: Bùi Thành Nhân
diff --git a/_s4g/theme/base.css b/_s4g/theme/base.css
index 90ac997..9ecb0ae 100644
--- a/_s4g/theme/base.css
+++ b/_s4g/theme/base.css
@@ -1,7 +1,7 @@
 html {
   font-family: system-ui, sans-serif;
   font-size: 1em;
-  max-width: 50rem;
+  max-width: 45rem;
   margin: auto;
   /* Always show scrollbar, to prevent content shifting when navigating
    * between long and short pages: */
@@ -14,6 +14,13 @@ ol {
   line-height: 1.35rem;
 }
 
+a {
+  color: black;
+}
+a:hover {
+  background-color: yellow;
+}
+
 main img,
 main video {
   max-width: 100%;
diff --git a/_s4g/theme/home.tmpl b/_s4g/theme/home.tmpl
index 8e75915..db5a912 100644
--- a/_s4g/theme/home.tmpl
+++ b/_s4g/theme/home.tmpl
@@ -8,16 +8,7 @@
 
 &lt;hr&gt;
 
-&lt;div class=&quot;pages&quot;&gt;
-{{- range .NavLinks}}
-  &lt;a href=&quot;{{.Url}}&quot;&gt;{{.Text}}&lt;/a&gt;
-{{- end}}
-  &lt;a class=&quot;feed-link&quot; href=&quot;{{.Feed}}&quot;&gt;
-    &lt;img src=&quot;{{.ThemePath}}/feed.svg&quot; alt=&quot;Atom Feed&quot; title=&quot;Atom Feed&quot;&gt;
-  &lt;/a&gt;
-&lt;/div&gt;
-
-&lt;hr&gt;
+{{- template &quot;navbar&quot; .}}
 
 {{.Content}}
 
@@ -47,20 +38,6 @@
   margin-top: 0;
 }
 
-.feed-link img {
-  height: 1rem;
-}
-.feed-link {
-  float: right;
-}
-hr {
-  clear: both;
-}
-
-.pages a {
-  margin-right: 0.5rem;
-}
-
 ul {
   padding: 0;
   list-style: none;
@@ -69,6 +46,10 @@ ul {
 .article {
   margin-bottom: 1rem;
 }
+.article a {
+  text-decoration: none;
+  font-weight: bold;
+}
 &lt;/style&gt;
 
 {{template &quot;footer&quot; .}}
diff --git a/_s4g/theme/includes.tmpl b/_s4g/theme/includes.tmpl
index 018b4d4..64af20d 100644
--- a/_s4g/theme/includes.tmpl
+++ b/_s4g/theme/includes.tmpl
@@ -2,9 +2,11 @@
 &lt;link rel=&quot;stylesheet&quot; href=&quot;{{.ThemePath}}/navbar.css&quot;&gt;
 &lt;nav&gt;
   {{- range .NavLinks}}
-  &lt;a href=&quot;{{.Url}}&quot;&gt;{{.Text}}&lt;/a&gt;
+  &lt;a href=&quot;{{.Url}}&quot; {{if .NewTab}}target=&quot;_blank&quot;{{end}}&gt;{{.Text}}&lt;/a&gt;
   {{- end}}
 
+  &lt;a class=&quot;feed-link&quot; href=&quot;{{.Feed}}&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
+
   {{- if not .Post.PostedAt.IsZero}}
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
diff --git a/_s4g/theme/navbar.css b/_s4g/theme/navbar.css
index 71bba65..168723a 100644
--- a/_s4g/theme/navbar.css
+++ b/_s4g/theme/navbar.css
@@ -1,13 +1,26 @@
 nav &gt; a {
-  margin-right: 0.5rem;
+  margin-right: 1rem;
+  text-decoration: none;
 }
 
 nav &gt; .posted-on {
-  float: right;
   font-style: italic;
-  margin-bottom: 0.5rem;
+  float: right;
 }
 
 .nav-hr {
   clear: both;
+  margin: 0;
+}
+
+.feed-link {
+  padding: 0 0.2rem;
+  color: #d2660b;
+  background-color: white;
+  text-decoration: none;
+  border-radius: 0.3rem;
+}
+.feed-link:hover {
+  background-color: #e37418;
+  color: white;
 }
diff --git a/about/index.html b/about/index.html
index 7f18846..59dc7bf 100644
--- a/about/index.html
+++ b/about/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
 
 &lt;/nav&gt;
 &lt;hr class=&quot;nav-hr&quot;&gt;
diff --git a/chromebook/index.html b/chromebook/index.html
index b02d14e..3573a8c 100644
--- a/chromebook/index.html
+++ b/chromebook/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2023-04-22&quot;&gt;
diff --git a/cool/index.html b/cool/index.html
index 681616d..c3f078b 100644
--- a/cool/index.html
+++ b/cool/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2014-01-25&quot;&gt;
diff --git a/custom-theme/index.html b/custom-theme/index.html
index 9e73e35..6f877e4 100644
--- a/custom-theme/index.html
+++ b/custom-theme/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2015-06-05&quot;&gt;
diff --git a/fcitx/index.html b/fcitx/index.html
index 83dedaa..7d4bf22 100644
--- a/fcitx/index.html
+++ b/fcitx/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2015-01-29&quot;&gt;
diff --git a/fightstick-1/index.html b/fightstick-1/index.html
index 7a7de8d..3756eda 100644
--- a/fightstick-1/index.html
+++ b/fightstick-1/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2015-12-08&quot;&gt;
diff --git a/fightstick-2/index.html b/fightstick-2/index.html
index fa21d77..c2374d2 100644
--- a/fightstick-2/index.html
+++ b/fightstick-2/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2016-01-23&quot;&gt;
diff --git a/go-stack/index.html b/go-stack/index.html
index 8d980c1..8ef593f 100644
--- a/go-stack/index.html
+++ b/go-stack/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2023-02-12&quot;&gt;
diff --git a/hdviet/index.html b/hdviet/index.html
index ceb6fd0..40b3522 100644
--- a/hdviet/index.html
+++ b/hdviet/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2014-03-17&quot;&gt;
diff --git a/ideas.html b/ideas.html
index 0d25777..71eaa7b 100644
--- a/ideas.html
+++ b/ideas.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
 
 &lt;/nav&gt;
 &lt;hr class=&quot;nav-hr&quot;&gt;
diff --git a/index.html b/index.html
index 5b85ccd..3f01132 100644
--- a/index.html
+++ b/index.html
@@ -22,18 +22,18 @@ &lt;h1 class=&quot;site-title&quot;&gt;Hi, I&amp;#39;m Nhân&lt;/h1&gt;
 &lt;/header&gt;
 
 &lt;hr&gt;
+&lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
+&lt;nav&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
 
-&lt;div class=&quot;pages&quot;&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
-  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;
-    &lt;img src=&quot;/_s4g/theme/feed.svg&quot; alt=&quot;Atom Feed&quot; title=&quot;Atom Feed&quot;&gt;
-  &lt;/a&gt;
-&lt;/div&gt;
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
+
+&lt;/nav&gt;
+&lt;hr class=&quot;nav-hr&quot;&gt;
 
-&lt;hr&gt;
 
 
 
@@ -191,20 +191,6 @@ &lt;h1 class=&quot;site-title&quot;&gt;Hi, I&amp;#39;m Nhân&lt;/h1&gt;
   margin-top: 0;
 }
 
-.feed-link img {
-  height: 1rem;
-}
-.feed-link {
-  float: right;
-}
-hr {
-  clear: both;
-}
-
-.pages a {
-  margin-right: 0.5rem;
-}
-
 ul {
   padding: 0;
   list-style: none;
@@ -213,6 +199,10 @@ &lt;h1 class=&quot;site-title&quot;&gt;Hi, I&amp;#39;m Nhân&lt;/h1&gt;
 .article {
   margin-bottom: 1rem;
 }
+.article a {
+  text-decoration: none;
+  font-weight: bold;
+}
 &lt;/style&gt;
 
 &lt;footer&gt;
diff --git a/linux-automation/index.html b/linux-automation/index.html
index 022355b..e85db8a 100644
--- a/linux-automation/index.html
+++ b/linux-automation/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2013-06-07&quot;&gt;
diff --git a/manjaro-xfce/index.html b/manjaro-xfce/index.html
index c36f127..e04d5ef 100644
--- a/manjaro-xfce/index.html
+++ b/manjaro-xfce/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2014-02-04&quot;&gt;
diff --git a/mcross/index.html b/mcross/index.html
index e4408f2..fe08b91 100644
--- a/mcross/index.html
+++ b/mcross/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2020-05-29&quot;&gt;
diff --git a/movie-streaming/gflick-fixed/index.html b/movie-streaming/gflick-fixed/index.html
index 66df5a5..8b42163 100644
--- a/movie-streaming/gflick-fixed/index.html
+++ b/movie-streaming/gflick-fixed/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2020-06-10&quot;&gt;
diff --git a/movie-streaming/gflick/index.html b/movie-streaming/gflick/index.html
index 6928a6c..cc2b835 100644
--- a/movie-streaming/gflick/index.html
+++ b/movie-streaming/gflick/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2020-04-26&quot;&gt;
diff --git a/movie-streaming/index.html b/movie-streaming/index.html
index b07b406..9e83146 100644
--- a/movie-streaming/index.html
+++ b/movie-streaming/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
 
 &lt;/nav&gt;
 &lt;hr class=&quot;nav-hr&quot;&gt;
diff --git a/movie-streaming/put.io/index.html b/movie-streaming/put.io/index.html
index 8265048..60ef8f1 100644
--- a/movie-streaming/put.io/index.html
+++ b/movie-streaming/put.io/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2020-10-21&quot;&gt;
diff --git a/node-webkit/index.html b/node-webkit/index.html
index 93623c5..9d00f42 100644
--- a/node-webkit/index.html
+++ b/node-webkit/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2014-05-01&quot;&gt;
diff --git a/notes.html b/notes.html
index 97d3615..358c14f 100644
--- a/notes.html
+++ b/notes.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
 
 &lt;/nav&gt;
 &lt;hr class=&quot;nav-hr&quot;&gt;
diff --git a/pathogen-vs-vundle/index.html b/pathogen-vs-vundle/index.html
index d32df83..58c6a41 100644
--- a/pathogen-vs-vundle/index.html
+++ b/pathogen-vs-vundle/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2013-05-13&quot;&gt;
diff --git a/petition-fraud/index.html b/petition-fraud/index.html
index 42a2c4f..dafacdb 100644
--- a/petition-fraud/index.html
+++ b/petition-fraud/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2016-03-12&quot;&gt;
diff --git a/pippable-webapp/index.html b/pippable-webapp/index.html
index 6021acc..16ea581 100644
--- a/pippable-webapp/index.html
+++ b/pippable-webapp/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2021-10-02&quot;&gt;
diff --git a/projects/index.html b/projects/index.html
index efc48df..432732b 100644
--- a/projects/index.html
+++ b/projects/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
 
 &lt;/nav&gt;
 &lt;hr class=&quot;nav-hr&quot;&gt;
diff --git a/pyqt5/index.html b/pyqt5/index.html
index 839db61..ba8e766 100644
--- a/pyqt5/index.html
+++ b/pyqt5/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2015-02-14&quot;&gt;
diff --git a/pytaku-old/index.html b/pytaku-old/index.html
index 254d2e9..c02539c 100644
--- a/pytaku-old/index.html
+++ b/pytaku-old/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2015-01-02&quot;&gt;
diff --git a/rmit-wifi/index.html b/rmit-wifi/index.html
index a565618..381dc37 100644
--- a/rmit-wifi/index.html
+++ b/rmit-wifi/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2013-06-17&quot;&gt;
diff --git a/s4g/index.html b/s4g/index.html
index 5754ef7..d2e4680 100644
--- a/s4g/index.html
+++ b/s4g/index.html
@@ -19,10 +19,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2023-08-24&quot;&gt;
diff --git a/sqlite-python/index.html b/sqlite-python/index.html
index 4b15a5d..1f03bba 100644
--- a/sqlite-python/index.html
+++ b/sqlite-python/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2022-01-30&quot;&gt;
diff --git a/stepmania-pad/index.html b/stepmania-pad/index.html
index 95b8509..347a23e 100644
--- a/stepmania-pad/index.html
+++ b/stepmania-pad/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2021-02-08&quot;&gt;
diff --git a/tmux-italics/index.html b/tmux-italics/index.html
index 2667883..c50d428 100644
--- a/tmux-italics/index.html
+++ b/tmux-italics/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2014-08-02&quot;&gt;
diff --git a/ubuntu-programs/index.html b/ubuntu-programs/index.html
index d9c05cd..f434658 100644
--- a/ubuntu-programs/index.html
+++ b/ubuntu-programs/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2013-09-06&quot;&gt;
diff --git a/vim-open-link/index.html b/vim-open-link/index.html
index ad60b30..ed4bf47 100644
--- a/vim-open-link/index.html
+++ b/vim-open-link/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2021-08-07&quot;&gt;
diff --git a/virtualenvwrapper/index.html b/virtualenvwrapper/index.html
index 3ddfad0..16f16de 100644
--- a/virtualenvwrapper/index.html
+++ b/virtualenvwrapper/index.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
   &lt;span class=&quot;posted-on&quot;&gt;
     Posted on
     &lt;time datetime=&quot;2014-12-16&quot;&gt;
diff --git a/yaks.html b/yaks.html
index 80b0d6f..e78f059 100644
--- a/yaks.html
+++ b/yaks.html
@@ -18,10 +18,12 @@
 
 &lt;link rel=&quot;stylesheet&quot; href=&quot;/_s4g/theme/navbar.css&quot;&gt;
 &lt;nav&gt;
-  &lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
-  &lt;a href=&quot;/about/&quot;&gt;About&lt;/a&gt;
-  &lt;a href=&quot;/projects/&quot;&gt;Projects&lt;/a&gt;
-  &lt;a href=&quot;https://cv.imnhan.com&quot;&gt;CV&lt;/a&gt;
+  &lt;a href=&quot;/&quot; &gt;Home&lt;/a&gt;
+  &lt;a href=&quot;/about/&quot; &gt;About&lt;/a&gt;
+  &lt;a href=&quot;/projects/&quot; &gt;Projects&lt;/a&gt;
+  &lt;a href=&quot;https://cv.imnhan.com&quot; target=&quot;_blank&quot;&gt;CV🡕&lt;/a&gt;
+
+  &lt;a class=&quot;feed-link&quot; href=&quot;/feed.xml&quot;&gt;Atom&amp;nbsp;Feed&lt;/a&gt;
 
 &lt;/nav&gt;
 &lt;hr class=&quot;nav-hr&quot;&gt;
</pre></body></html>